@{
    ViewData["title"] = "Hakkımda";
}

<article class="flex flex-col shadow my-4">
    <!-- Article Image -->
    <a href="#" class="hover:opacity-75">
        <img src="#">
    </a>
    <div class="bg-white flex flex-col justify-start p-6">
        <h1 class="text-2xl font-bold pb-3">Hakkımda</h1>
        <p class="pb-3">Bu Blog Hakkında:
            Bu blog sayfası, medya ve iletişim alanlarındaki deneyimlerimi ve görüşlerimi paylaşmak için bir platformdur. Acunmedya Akademisi'nde aldığım eğitimle birlikte edindiğim bilgileri ve sektördeki gelişmeleri burada ele alıyor, okuyucularıma bu konularda bilgi ve ilham vermeyi amaçlıyorum.

            Neden Yazıyorum:
            Medya ve iletişim benim tutkum. Bu alanda sürekli öğrenmeyi ve keşfetmeyi seviyorum ve bu blog aracılığıyla bu tutkuyu paylaşmayı amaçlıyorum. Ayrıca, diğer insanlarla bağlantı kurmak ve ortak ilgi alanlarını paylaşmak benim için önemlidir.</p>
    </div>
</article>