@{
    ViewData["title"] = "Anasayfa";
}


<!-- Divider-->
<hr class="my-4"/>
<!-- Post preview-->
<div class="post-preview">
    <a href="/home/Detay">
        <h2 class="post-title">Blogun Efsane Seyfası.</h2>
        <h3 class="post-subtitle">Bu blog sayfasında, medya dünyasına dair ilginç konuları, yeni gelişmeleri ve deneyimlerimi paylaşmayı amaçlıyorum.</h3>
    </a>
    <p class="post-meta">
        Yapılış
        <a href="/home/Detay">Mehmet İyiyazıcı</a>
        12.12.2002
    </p>
</div>
<!-- Divider-->
<hr class="my-4"/>
<!-- Post preview-->
<div class="post-preview">
    <a href="home/Detays">
        <h2 class="post-title">Öyle Şeyler</h2>
        <h3 class="post-subtitle">Kısa Bilgiler Vermek İçin Buradayım.</h3>
    </a>
    <p class="post-meta">
        Yapılış
        <a href="#!">Mehmet İyiyazıcı</a>

    </p>
</div>